<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <h1>Perguntas</h1>
        <hr>
        <button class="btn  btn-success"><a href="/perguntar">Perguntar</a></button>
        <hr>

        <% perguntas.forEach((pergunta) => { %>
            <div class="card">

                <div class="card-body">
                    <h3><%= pergunta.titulo %></h3>
                </div>
                <div class="card-footer">
                    <a href="perguntar/<%=pergunta.id %>"><button class="btn btn-primary">Responder</button></a>
                </div>
            </div>
            <% }); %>
        </div>
    
</body>
<%- include ('./partials/footer.ejs') %>