<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs')  %>
    <div class="container">  
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h2>Realizar Pergunta</h2>
            </div>    
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label for="">Título</label>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <br>
                    <label for="">Descrição</label>
                    <textarea placeholder="Descrição" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-success">Enviar</button>
                </form>
            </div>
        
        </div>
    </div>
</body>
<%- include ('./partials/footer.ejs') %>