<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs')  %>
    <div class="container">
        <h1><%= pergunta.titulo %></h1>
        <h3><%= pergunta.descricao %></h3>
    </div>
</body>

<%- include('./partials/footer.ejs')  %>